# Environments
.env
venv/
env/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
db.sqlite3
db.sqlite3-journal

# Logs
logs/
*.log

# Media
media/
.env
data.json
firebase-sdk.json
